@model IEnumerable<PedidosDeCambioWeb.Models.Accion>

@{
    ViewData["Title"] = "Index";
}

<h1>Acciones</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
