@model PedidosDeCambioWeb.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Causante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Causante.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
