@model IEnumerable<PedidosDeCambioWeb.Models.Pedido>

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>
<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Causante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocolo)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ResponsableId.ToString()).Result.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Causante.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accion.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Protocolo)
                </td>
                <td>
                    <dl>
                        @if (!string.IsNullOrEmpty(item.Motivo))
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Motivo)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Motivo)
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(item.Razon))
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Razon)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Razon)
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(item.Detalles))
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Detalles)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Detalles)
                            </dd>
                        }
                    </dl>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if(ViewBag.PaginaActual > 1){
    <a class="btn btn-primary" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual - 1)">Anterior</a> 
}
Viendo página @ViewBag.PaginaActual de @ViewBag.PaginasTotal
@if(ViewBag.PaginaActual < ViewBag.PaginasTotal){
    <a class="btn btn-primary" asp-action="Index" asp-route-pagina="@(ViewBag.PaginaActual + 1)">Siguiente</a> 
}
